#footer>span>div>div.flex.flex-col.lg\:flex-row.gap-6.lg\:gap-12.row-span-1.lg\:col-span-3.text-center.lg\:text-left>ul:nth-child(1)>li:nth-child(2) {
    display: none !important;
}

#footer>span>div>div.hidden.lg\:flex.lg\:col-span-1.justify-center.lg\:justify-end.row-span-1.relative>img {
    display: none !important;
}

#article-list>div:nth-child(2)>div>div.h-98.w-full.rounded-2xl.relative.shadow-xl.mb-8>div>div>div.flex.flex-col.justify-center.items-center>img {
    border-width: 0px !important;
    --tw-shadow: 0, 0, 0, 0 !important;

}


.profile .circle-avatar,
.profile .rounded-avatar {
    border-width: 0px !important;
}

.ob-avatar {
    box-shadow: none;
}

#App-Mobile-Profile>div>img {
    --tw-shadow: 0, 0, 0, 0 !important;
}

.theme-light {
    --md-sys-color-primary: rgb(143 76 51);
    --md-sys-color-surface-tint: rgb(143 76 51);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(255 219 207);
    --md-sys-color-on-primary-container: rgb(56 13 0);
    --md-sys-color-secondary: rgb(119 87 76);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(255 219 207);
    --md-sys-color-on-secondary-container: rgb(44 22 13);
    --md-sys-color-tertiary: rgb(105 94 47);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(242 226 168);
    --md-sys-color-on-tertiary-container: rgb(33 27 0);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(65 0 2);
    --md-sys-color-background: rgb(255 248 246);
    --md-sys-color-on-background: rgb(35 26 22);
    --md-sys-color-surface: rgb(255 248 246);
    --md-sys-color-on-surface: rgb(35 26 22);
    --md-sys-color-surface-variant: rgb(245 222 214);
    --md-sys-color-on-surface-variant: rgb(83 67 62);
    --md-sys-color-outline: rgb(133 115 109);
    --md-sys-color-outline-variant: rgb(216 194 187);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(57 46 43);
    --md-sys-color-inverse-on-surface: rgb(255 237 231);
    --md-sys-color-inverse-primary: rgb(255 181 154);
    --md-sys-color-primary-fixed: rgb(255 219 207);
    --md-sys-color-on-primary-fixed: rgb(56 13 0);
    --md-sys-color-primary-fixed-dim: rgb(255 181 154);
    --md-sys-color-on-primary-fixed-variant: rgb(113 54 30);
    --md-sys-color-secondary-fixed: rgb(255 219 207);
    --md-sys-color-on-secondary-fixed: rgb(44 22 13);
    --md-sys-color-secondary-fixed-dim: rgb(231 190 175);
    --md-sys-color-on-secondary-fixed-variant: rgb(93 64 53);
    --md-sys-color-tertiary-fixed: rgb(242 226 168);
    --md-sys-color-on-tertiary-fixed: rgb(33 27 0);
    --md-sys-color-tertiary-fixed-dim: rgb(213 198 142);
    --md-sys-color-on-tertiary-fixed-variant: rgb(80 71 26);
    --md-sys-color-surface-dim: rgb(232 214 209);
    --md-sys-color-surface-bright: rgb(255 248 246);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(255 241 236);
    --md-sys-color-surface-container: rgb(252 234 228);
    --md-sys-color-surface-container-high: rgb(247 228 223);
    --md-sys-color-surface-container-highest: rgb(241 223 217);
    --background-primary: rgb(255 241 236) !important;
    --background-secondary: rgb(255, 248, 246) !important;
    --background--alt: rgb(255 241 236) !important;
    --background-secondary-alt: rgb(255, 248, 246) !important;
    --banner-cover: linear-gradient(0deg, rgb(255 241 236), transparent) !important;
    --article-cover: linear-gradient(180deg,
            rgba(255, 248, 246, 0) 0,
            rgba(255, 248, 246, .013) 8.1%,
            rgba(255, 248, 246, .049) 15.5%,
            rgba(255, 248, 246, .104) 22.5%,
            rgba(255, 248, 246, .175) 29%,
            rgba(255, 248, 246, .259) 35.3%,
            rgba(255, 248, 246, .352) 41.2%,
            rgba(255, 248, 246, .45) 47.1%,
            rgba(255, 248, 246, .55) 52.9%,
            rgba(255, 248, 246, .648) 58.8%,
            rgba(255, 248, 246, .741) 64.7%,
            rgba(255, 248, 246, .825) 71%,
            rgba(255, 248, 246, .896) 77.5%,
            rgba(255, 248, 246, .951) 84.5%,
            rgba(255, 248, 246, .987) 91.9%,
            rgb(255, 248, 246)) !important;
    --gradient-cover: linear-gradient(90deg,
            rgba(255, 248, 246, 0) 0,
            rgba(255, 248, 246, .013) 8.1%,
            rgba(255, 248, 246, .049) 15.5%,
            rgba(255, 248, 246, .104) 22.5%,
            rgba(255, 248, 246, .175) 29%,
            rgba(255, 248, 246, .259) 35.3%,
            rgba(255, 248, 246, .352) 41.2%,
            rgba(255, 248, 246, .45) 47.1%,
            rgba(255, 248, 246, .55) 52.9%,
            rgba(255, 248, 246, .648) 58.8%,
            rgba(255, 248, 246, .741) 64.7%,
            rgba(255, 248, 246, .825) 71%,
            rgba(255, 248, 246, .896) 77.5%,
            rgba(255, 248, 246, .951) 84.5%,
            rgba(255, 248, 246, .987) 91.9%,
            rgb(255, 248, 246)) !important;
    --nav-cover: linear-gradient(90deg,
            rgba(255, 248, 246, 0) 0,
            rgba(255, 248, 246, .013) 8.1%,
            rgba(255, 248, 246, .049) 15.5%,
            rgba(255, 248, 246, .104) 22.5%,
            rgba(255, 248, 246, .175) 29%,
            rgba(255, 248, 246, .259) 35.3%,
            rgba(255, 248, 246, .352) 41.2%,
            rgba(255, 248, 246, .45) 47.1%,
            rgba(255, 248, 246, .55) 52.9%,
            rgba(255, 248, 246, .648) 58.8%,
            rgba(255, 248, 246, .741) 64.7%,
            rgba(255, 248, 246, .825) 71%,
            rgba(255, 248, 246, .896) 77.5%,
            rgba(255, 248, 246, .951) 84.5%,
            rgba(255, 248, 246, .987) 91.9%,
            rgb(255, 248, 246)) !important;
    --more-cover: linear-gradient(180deg,
            rgba(245, 222, 214, 0) 0,
            rgba(245, 222, 214, .013) 8.1%,
            rgba(245, 222, 214, .049) 15.5%,
            rgba(245, 222, 214, .104) 22.5%,
            rgba(245, 222, 214, .175) 29%,
            rgba(245, 222, 214, .259) 35.3%,
            rgba(245, 222, 214, .352) 41.2%,
            rgba(245, 222, 214, .45) 47.1%,
            rgba(245, 222, 214, .55) 52.9%,
            rgba(245, 222, 214, .648) 58.8%,
            rgba(245, 222, 214, .741) 64.7%,
            rgba(245, 222, 214, .825) 71%,
            rgba(245, 222, 214, .896) 77.5%,
            rgba(245, 222, 214, .951) 84.5%,
            rgba(245, 222, 214, .987) 91.9%,
            rgb(245, 222, 214));
    --text-bright: var(--md-sys-color-primary) !important;
    --text-normal: var(--md-sys-color-on-surface) !important;
    --background-backdrop: rgba(255, 219, 207, .8) !important;
}

.theme-dark {
    --md-sys-color-primary: rgb(255 181 154);
    --md-sys-color-surface-tint: rgb(255 181 154);
    --md-sys-color-on-primary: rgb(85 32 10);
    --md-sys-color-primary-container: rgb(113 54 30);
    --md-sys-color-on-primary-container: rgb(255 219 207);
    --md-sys-color-secondary: rgb(231 190 175);
    --md-sys-color-on-secondary: rgb(68 42 32);
    --md-sys-color-secondary-container: rgb(93 64 53);
    --md-sys-color-on-secondary-container: rgb(255 219 207);
    --md-sys-color-tertiary: rgb(213 198 142);
    --md-sys-color-on-tertiary: rgb(56 48 5);
    --md-sys-color-tertiary-container: rgb(80 71 26);
    --md-sys-color-on-tertiary-container: rgb(242 226 168);
    --md-sys-color-error: rgb(255 180 171);
    --md-sys-color-on-error: rgb(105 0 5);
    --md-sys-color-error-container: rgb(147 0 10);
    --md-sys-color-on-error-container: rgb(255 218 214);
    --md-sys-color-background: rgb(26 17 14);
    --md-sys-color-on-background: rgb(241 223 217);
    --md-sys-color-surface: rgb(26 17 14);
    --md-sys-color-on-surface: rgb(241 223 217);
    --md-sys-color-surface-variant: rgb(83 67 62);
    --md-sys-color-on-surface-variant: rgb(216 194 187);
    --md-sys-color-outline: rgb(160 141 134);
    --md-sys-color-outline-variant: rgb(83 67 62);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(241 223 217);
    --md-sys-color-inverse-on-surface: rgb(57 46 43);
    --md-sys-color-inverse-primary: rgb(143 76 51);
    --md-sys-color-primary-fixed: rgb(255 219 207);
    --md-sys-color-on-primary-fixed: rgb(56 13 0);
    --md-sys-color-primary-fixed-dim: rgb(255 181 154);
    --md-sys-color-on-primary-fixed-variant: rgb(113 54 30);
    --md-sys-color-secondary-fixed: rgb(255 219 207);
    --md-sys-color-on-secondary-fixed: rgb(44 22 13);
    --md-sys-color-secondary-fixed-dim: rgb(231 190 175);
    --md-sys-color-on-secondary-fixed-variant: rgb(93 64 53);
    --md-sys-color-tertiary-fixed: rgb(242 226 168);
    --md-sys-color-on-tertiary-fixed: rgb(33 27 0);
    --md-sys-color-tertiary-fixed-dim: rgb(213 198 142);
    --md-sys-color-on-tertiary-fixed-variant: rgb(80 71 26);
    --md-sys-color-surface-dim: rgb(26 17 14);
    --md-sys-color-surface-bright: rgb(66 55 51);
    --md-sys-color-surface-container-lowest: rgb(20 12 9);
    --md-sys-color-surface-container-low: rgb(35 26 22);
    --md-sys-color-surface-container: rgb(39 30 26);
    --md-sys-color-surface-container-high: rgb(50 40 36);
    --md-sys-color-surface-container-highest: rgb(61 50 47);
    --background-primary: rgb(35 26 22) !important;
    --background-secondary: rgb(66, 55, 51) !important;
    --background-primary-alt: rgb(35 26 22) !important;
    --background-secondary-alt: rgb(66, 55, 51) !important;
    --banner-cover: linear-gradient(0deg, rgb(35 26 22), transparent) !important;
    --article-cover: linear-gradient(180deg,
            rgba(66, 55, 51, 0) 0,
            rgba(66, 55, 51, .013) 8.1%,
            rgba(66, 55, 51, .049) 15.5%,
            rgba(66, 55, 51, .104) 22.5%,
            rgba(66, 55, 51, .175) 29%,
            rgba(66, 55, 51, .259) 35.3%,
            rgba(66, 55, 51, .352) 41.2%,
            rgba(66, 55, 51, .45) 47.1%,
            rgba(66, 55, 51, .55) 52.9%,
            rgba(66, 55, 51, .648) 58.8%,
            rgba(66, 55, 51, .741) 64.7%,
            rgba(66, 55, 51, .825) 71%,
            rgba(66, 55, 51, .896) 77.5%,
            rgba(66, 55, 51, .951) 84.5%,
            rgba(66, 55, 51, .987) 91.9%,
            rgb(66, 55, 51)) !important;
    --gradient-cover: linear-gradient(90deg,
            rgba(66, 55, 51, 0) 0,
            rgba(66, 55, 51, .013) 8.1%,
            rgba(66, 55, 51, .049) 15.5%,
            rgba(66, 55, 51, .104) 22.5%,
            rgba(66, 55, 51, .175) 29%,
            rgba(66, 55, 51, .259) 35.3%,
            rgba(66, 55, 51, .352) 41.2%,
            rgba(66, 55, 51, .45) 47.1%,
            rgba(66, 55, 51, .55) 52.9%,
            rgba(66, 55, 51, .648) 58.8%,
            rgba(66, 55, 51, .741) 64.7%,
            rgba(66, 55, 51, .825) 71%,
            rgba(66, 55, 51, .896) 77.5%,
            rgba(66, 55, 51, .951) 84.5%,
            rgba(66, 55, 51, .987) 91.9%,
            rgb(66, 55, 51)) !important;
    --nav-cover: linear-gradient(90deg,
            rgba(66, 55, 51, 0) 0,
            rgba(66, 55, 51, .013) 8.1%,
            rgba(66, 55, 51, .049) 15.5%,
            rgba(66, 55, 51, .104) 22.5%,
            rgba(66, 55, 51, .175) 29%,
            rgba(66, 55, 51, .259) 35.3%,
            rgba(66, 55, 51, .352) 41.2%,
            rgba(66, 55, 51, .45) 47.1%,
            rgba(66, 55, 51, .55) 52.9%,
            rgba(66, 55, 51, .648) 58.8%,
            rgba(66, 55, 51, .741) 64.7%,
            rgba(66, 55, 51, .825) 71%,
            rgba(66, 55, 51, .896) 77.5%,
            rgba(66, 55, 51, .951) 84.5%,
            rgba(66, 55, 51, .987) 91.9%,
            rgb(66, 55, 51)) !important;
    --more-cover: linear-gradient(180deg,
            rgba(83, 67, 62, 0) 0,
            rgba(83, 67, 62, .013) 8.1%,
            rgba(83, 67, 62, .049) 15.5%,
            rgba(83, 67, 62, .104) 22.5%,
            rgba(83, 67, 62, .175) 29%,
            rgba(83, 67, 62, .259) 35.3%,
            rgba(83, 67, 62, .352) 41.2%,
            rgba(83, 67, 62, .45) 47.1%,
            rgba(83, 67, 62, .55) 52.9%,
            rgba(83, 67, 62, .648) 58.8%,
            rgba(83, 67, 62, .741) 64.7%,
            rgba(83, 67, 62, .825) 71%,
            rgba(83, 67, 62, .896) 77.5%,
            rgba(83, 67, 62, .951) 84.5%,
            rgba(83, 67, 62, .987) 91.9%,
            rgb(83, 67, 62));
    /* linear-gradient(180deg, var(--background-secondary), transparent); */
    --text-bright: var(--md-sys-color-primary) !important;
    --text-normal: var(--md-sys-color-on-surface) !important;
    --background-backdrop: rgba(113, 54, 30, .8) !important;
}

#mm {
    background-color: rgb(255 237 231) !important;
    border-radius: 1rem !important;
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / .1), 0 8px 10px -6px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;

}



code,
kbd,
samp,
pre {
    font-family: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace !important;
}

figure.shiki .codeblock pre * {
    font-family: "JetBrains Mono", "Fira Code", "Fira Mono", Menlo, Consolas, "DejaVu Sans Mono", monospace, 微软雅黑, 宋体 !important;
}

figure.shiki {
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.4), 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
    background-color: var(--md-sys-color-on-tertiary-fixed) !important;
}

.more-btn {
    background-color: var(--md-sys-color-primary) !important;
}

.more-btn svg,
.more-btn span {
    color: var(--md-sys-color-on-primary) !important;
}

.bg-ob-deep-900 {
    background-color: var(--md-sys-color-surface) !important;
}

.sidebar-box {
    background-color: var(--md-sys-color-surface-variant) !important;
}

.more-cover {
    background: var(--more-cover) !important;
}

.tab li span,
.tab li b {
    background-color: var(--md-sys-color-secondary) !important;
    color: var(--md-sys-color-on-secondary) !important;
}

.tab {
    background-color: var(--md-sys-color-secondary-container);
}

.bg-ob-deep-800 {
    color: var(--md-sys-color-on-surface) !important;
    background-color: var(--md-sys-color-surface-container-highest) !important;
}

.post-html {
    background-color: var(--md-sys-color-surface-bright) !important;
}

figure.shiki .gutter pre {
    background-color: var(--md-sys-color-on-secondary-fixed) !important;
    border-radius: 0.3rem;
}

.tab li span.first-tab {
    color: var(--md-sys-color-on-primary) !important;
    background: var(--md-sys-color-primary) !important;
}

/* source/assets/fonts/juliamo-print.ttf */
@font-face {
    font-family: 'Juliamo';
    src: url('/assets/fonts/juliamo-print.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

#sticky>div>div>header>div.header-logo.flex.items-center.self-stretch.relative.cursor-pointer.hover\:scale-110.transition-transform.transform-gpu.duration-500>div>span.text-invert.flex.text-xl.leading-tight.text-white.font-extrabold {
    font-family: 'Juliamo', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace !important;
}

/* radial-gradient(circle at center, #51312E 0%, #E6B87D 50%, #F0EAD6 100%) */
#App-Container>div.app-banner.app-banner-screen {
    background: radial-gradient(circle at 50% 50%,
            #51312E,
            rgba(81, 49, 46, 0) 70%),
        radial-gradient(circle at 0 100%,
            #E6B87D,
            rgba(230, 184, 125, 0) 70%),
        radial-gradient(circle at 100% 100%,
            #F0EAD6,
            rgba(240, 234, 214, 0) 70%),
        radial-gradient(circle at 50% 50%,
            #BAA892,
            rgba(186, 168, 146, 0) 70%),
        radial-gradient(circle at 10% 10%,
            #8C6954,
            rgba(140, 105, 84, 0) 70%),
        linear-gradient(#51312E 0%, #E6B87D 50%, #F0EAD6 100%) !important;
}